---
layout: "base"
---
{{ content }}

<h3>Stamp Pane</h3>
<div class="paneimage">
  <img
    src="/assets/images/sn{{ sn }}.png"
    alt="{{ title }}"
    alt="Pane of stamps for {{ title }}" />
</div>


<h3>Stamp Pane Back</h3>
<div class="paneimageback">
  <img src="/assets/images/sn{{ sn }}-b.png" alt="Back of pane of stamps for {{ title }}" />
</div>